input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="month"],
input[type="date"],
input[type="week"],
input[type="datetime-local"],
input[type="time"],
input[type="range"],
input[type="datetime-local"] {
    border: 1px solid #dfdfdf;
    background-color: #fff;
    height: 40px;
    padding: 6px 15px;
    width: 100%;
}

textarea {
    border: 1px solid #dfdfdf;
    background-color: #fff;
    padding-left: 15px;
    padding-top: 10px;
    height: 187px;
    width: 100%;
    resize: none;

}

select {
    width: 100%;
    border: 1px solid #dfdfdf;
    height: 40px;
    background-color: white;
    border-radius: 0;
    display: block;
    -webkit-appearance: none;
    margin-bottom: 20px;
    padding-left: 20px;
}
select:first-child{
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 320px 13px;
}


input:invalid:focus {
    border: 1px solid #a52727;
}

input:valid:focus{
    border: 1px solid #409b98;
}



input:focus,
textarea:focus,
select:focus{
    outline: none;

}

input:focus{
    font-style: normal;
}

input::-webkit-input-placeholder{
    font-style: italic;

}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

@media all and (min-width: 768px) {
    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="month"],
    input[type="date"],
    input[type="week"],
    input[type="datetime-local"],
    input[type="time"],
    input[type="range"],
    input[type="datetime-local"],
    textarea {
        width: 600px;
    }
    select{
        width: 346px;

    }

}